<form action="{% url 'surv:send' toko.id %}" method="post">{% csrf_token %}
  <fieldset>
    <legend><h1>{{ toko }}</h1></legend>
    {% for answer in toko.answer_set.all %}
      <input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}">
      <label for="answer{{ forloop.counter }}">{{ answer }}</label>
    {% endfor %}
  </fieldset>
  <div><input type="submit" value="send"></div>
</form>

<div>
  <a href="{% url 'surv:result' toko.id %}">see the result</a>
</div>

<div><a href="{% url 'surv:index' %}">back to home</a></div>