{% extends "surv/base.html" %}

{% block content %}
<div id="left">
  <ul>
    <li><a href="{% url 'surv:login' %}">login or signup</a></li>
    <li><a href="{% url 'surv:profile' %}">profile</a></li>
    <li><a href="{% url 'surv:login_index' %}">setting</a></li>
    <li><a href="{% url 'surv:your_tokos' %}">your toko</a></li>
    <h3>{{ user }}</h3>
  </ul>
</div>
<div id="center">
  <div id="post">
    <form action="{% url 'surv:index' %}" method="POST">{% csrf_token %}
      {{ form_toko.as_p }}
      {{ form_ans.as_p }}
      <div class="drop">
        <select name="category_text">
          {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" id="post_btn">post</button>
    </form>
  </div>
  <div id="timeline">
    {% for toko in tokos %}
    <div><a href="{% url 'surv:detail' toko.id %}">{{ toko }}</a></div>
    {% endfor %}
  </div>
</div>
<div id="right">
  <h3><a href="{% url 'surv:new_category' %}">create new gategory</a></h3>
  {% for category in categories %}
    <div><a href="{% url 'surv:category_toko_list' category.id %}">{{ category }}</a></div>
  {% endfor %}
</div>
{% endblock %}