html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
}

#left {
  width: calc(100% / 3);
  height: 100%;
}

#center {
  padding: 5px;
  width: calc(100% / 3);
  height: 100%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

#post {
  border-bottom: 1px solid gray;
  height: 170px;
}

#drop {
  margin-right: 0;
  margin-left: auto;
}

.plus {
  text-align: right;
}

#timeline {
  height: calc(100% - 100px);
}

#right {
  padding: 5px;
  width: calc(100% / 3);
  height: 100%;
}

#text {
  margin-right: 5px;
  display: inline;
  border-right: 1px solid gray;
}